<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SeleniumServerUrl" value="http://127.0.0.1:4444/wd/hub" />
    <add key="Browser" value="IE" />

    <add key="BbcUrl" value="http://www.bbc.com" />
    <add key="RussianBbcUrl" value="http://www.bbc.com/russian" />
  </appSettings>
</configuration>