<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"
       type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="SeleniumServerUrl" value="http://127.0.0.1:4444/wd/hub" />
    <add key="Browser" value="Chrome" />
    <add key="Screenshots" value="C:\TEMP\" />

    <add key="BbcUrl" value="http://www.bbc.com" />
    <add key="RussianBbcUrl" value="http://www.bbc.com/russian" />
  </appSettings>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <!--<file type="log4net.Util.PatternString" value="C:\TEMP\log-%utcdate{yyMMdd_HHmmss}.log" />-->
      <param name="File" value="C:\TEMP\LogTest.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="[START]&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;[FINISH]&#13;&#10;" />-->
        <param name="ConversionPattern" value="%utcdate %level %n%message%n%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%utcdate %level %message%n" />
      </layout>
    </appender>

    <root>
      <level value="ERROR" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

</configuration>